<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <!--
    Puppet Agent Specific Application data
    These directories and files need to be special cased
    in order to manage the application data for puppet
    agent. The specific special case is that all files
    and folders here need to be persistent across multiple
    installs and uninstalls. We can do so by specifying
    Permanent="yes" on each file/folder component.
  -->
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="APPDATADIR" Name="PuppetForager">
        <Directory Id="ApplicationBlahBlahBlah" Name="Forager">
          <Directory Id="PuppetAppData" Name="puppet">
            <Directory Id="PuppetConfDir" Name="etc"/>
            <Directory Id="PuppetVarDir" Name="var"/>
          </Directory>
          <Directory Id="FacterAppData" Name="facter">
            <Directory Id="FactsDotD" Name="facts.d"/>
          </Directory>
          <Directory Id="CodeDir" Name="code">
            <Directory Id="HieraDataDir" Name="hieradata"/>
            <Directory Id="CodeModulesDir" Name="modules"/>
            <Directory Id="EnvironmentsDir" Name="environments">
              <Directory Id="ProductionDir" Name="production">
                <Directory Id="ManifestsDir" Name="manifests"/>
                <Directory Id="ModulesDir" Name="modules"/>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
    <ComponentGroup Id="AppDataComponentGroup" >
      <!-- This is a permanent directory, do not remove on uninstall -->
      <Component
        Id="PuppetConfUnconditionalSettings"
        Permanent="no"
        Guid="93D70C16-0803-47B4-AE57-E7D61FB4D720"
        Directory="PuppetConfDir">
        <CreateFolder />
        <IniFile
          Id="PuppetConfServer" Name="puppet.conf"
          Action="addLine"
          Section="main"
          Key="server" Value="[PUPPET_MASTER_SERVER]"
          Directory="PuppetConfDir" />
        <IniFile
          Id="RemovePuppetConfPluginSync" Name="puppet.conf"
          Action="removeLine"
          Section="main"
          Key="pluginsync"
          Directory="PuppetConfDir" />
        <IniFile
          Id="PuppetConfAutoflush" Name="puppet.conf"
          Action="createLine"
          Section="main"
          Key="autoflush" Value="true"
          Directory="PuppetConfDir" />
      </Component>
      <Component
        Id="PuppetConfWithAgentEnvironment"
        Permanent="no"
        Guid="1EDDF719-7B40-44FA-9E11-5EC890494AAE"
        Directory="PuppetConfDir">
        <Condition>PUPPET_AGENT_ENVIRONMENT</Condition>
        <CreateFolder />
        <!-- The agent environment setting will only be managed if the
              PUPPET_AGENT_ENVIRONMENT is not an empty string -->
        <!-- Manage the entry itself -->
        <IniFile
          Id="PuppetConfAgentEnvironment" Name="puppet.conf"
          Action="addLine"
          Section="main"
          Key="environment" Value="[PUPPET_AGENT_ENVIRONMENT]"
          Directory="PuppetConfDir" />
      </Component>
      <Component
        Id="PuppetConfWithCertname"
        Permanent="yes"
        Guid="A33931B0-C092-4AF5-B7FC-A2C96FBC3545"
        Directory="PuppetConfDir">
        <Condition>PUPPET_AGENT_CERTNAME</Condition>
        <CreateFolder />
        <!-- The certname setting will only be managed if the
              PUPPET_AGENT_CERTNAME is not an empty string -->
        <!-- Manage the entry itself -->
        <IniFile
          Id="PuppetConfCertname" Name="puppet.conf"
          Action="addLine"
          Section="main"
          Key="certname" Value="[PUPPET_AGENT_CERTNAME]"
          Directory="PuppetConfDir" />
      </Component>
      <Component
        Id="PuppetConfWithCaServer"
        Permanent="no"
        Guid="FAB66DD6-4EF1-4445-9C6D-503CB0016051"
        Directory="PuppetConfDir">
        <Condition>PUPPET_CA_SERVER</Condition>
        <CreateFolder />
        <!-- The certname setting will only be managed if the
              PUPPET_CA_SERVER is not an empty string -->
        <IniFile
          Id="PuppetConfCaServer" Name="puppet.conf"
          Action="addLine"
          Section="main"
          Key="ca_server" Value="[PUPPET_CA_SERVER]"
          Directory="PuppetConfDir" />
      </Component>
      <Component
        Id="PuppetVarDir"
        Permanent="no"
        Guid="FFAAF60C-E284-4532-8030-890E64113ABF"
        Directory="PuppetVarDir">
        <CreateFolder />
      </Component>
      <Component
        Id="PuppetInstallerFacts"
        Permanent="no"
        Guid="396D1D2A-BF6F-4BF2-8606-9B7ADDF9F99E"
        Directory="FactsDotD">
        <CreateFolder>
          <Permission GenericAll="yes" User="Administrators" />
          <Permission GenericRead="yes" GenericExecute="yes" User="Everyone" />
        </CreateFolder>
      </Component>
      <Component
        Id="CodeDir"
        Permanent="no"
        Guid="FF95F6EE-0BED-485F-A14D-444BB4677363"
        Directory="CodeDir">
        <CreateFolder />
      </Component>
      <Component
        Id="HieraDataDir"
        Permanent="no"
        Guid="4056DE18-5040-4E5D-815E-1FFBA7E4A814"
        Directory="HieraDataDir">
        <CreateFolder />
      </Component>
      <Component
        Id="CodeModulesDir"
        Permanent="no"
        Guid="CF35C13E-6F0F-4843-BEE6-0DF7DD49A4C2"
        Directory="CodeModulesDir">
        <CreateFolder />
      </Component>
      <Component
        Id="EnvironmentsDir"
        Permanent="no"
        Guid="D403D838-F0DA-40D2-8751-88F7A01730A5"
        Directory="EnvironmentsDir">
        <CreateFolder />
      </Component>
      <Component
        Id="ProductionDir"
        Permanent="no"
        Guid="B9A29CFB-240A-4B02-B53D-2980CB99D344"
        Directory="ProductionDir">
        <CreateFolder />
      </Component>
      <Component
        Id="ManifestsDir"
        Permanent="no"
        Guid="D6046F6F-2545-4E37-ADDD-43A522215BC9"
        Directory="ManifestsDir">
        <CreateFolder />
      </Component>
      <Component
        Id="ModulesDir"
        Permanent="no"
        Guid="27289A72-7152-4B6E-9C1C-54957C237AAE"
        Directory="ModulesDir">
        <CreateFolder />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
